<!-- Structured date template for person authority -->
<div class="csc-structuredDate-popup cs-structuredDate-popup" style="overflow:visible;">
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <!--tr>
                            <td></td>
                            <td colspan="5" class="cscx-structuredDate-dateHeader-label label"></td>
                            <td colspan="5" class="cscx-structuredDate-dateCertaintyHeader-label label"></td>
                        </tr-->
                        <tr>
                            <td></td>
                            <td class="csc-structuredDate-dateYear-label cs-structuredDate-dateLabel"></td>
                            <!--td class="cscx-structuredDate-dateMonth-label cs-structuredDate-dateLabel"></td>
                            <td class="cscx-structuredDate-dateDay-label cs-structuredDate-dateLabel"></td>
                            <td class="cscx-structuredDate-dateEra-label cs-structuredDate-dateLabel"></td>
                            <td class="cscx-structuredDate-dateCertainty-label cs-structuredDate-dateLabel"></td>
                            <td class="cscx-structuredDate-dateQualifier-label cs-structuredDate-dateLabel"></td>
                            <td class="cscx-structuredDate-dateQualifierValue-label cs-structuredDate-dateLabel"></td>
                            <td class="cscx-structuredDate-dateQualifierUnit-label cs-structuredDate-dateLabel"></td>
                            <td class="cscx-structuredDate-dateScalarValue-label cs-structuredDate-dateLabel"></td-->
                        </tr>
                    </thead>                                                        
                    <tbody>
                        <tr>
                            <td class="csc-structuredDate-dateEarliestSingleRow-label cs-structuredDate-dateLabel"></td>
                            <td><input type="text" class="csc-structuredDate-dateEarliestSingleYear input-numeric-small"/></td>
                            <!--td><input type="text" class="cscx-structuredDate-dateEarliestSingleMonth input-numeric-tiny"/></td>
                            <td><input type="text" class="cscx-structuredDate-dateEarliestSingleDay  input-numeric-tiny"/></td>
                            <td><select class="cscx-structuredDate-dateEarliestSingleEra input-select select input-select-short"><option value=""></option></select></td>
                            <td><select class="cscx-structuredDate-dateEarliestSingleCertainty input-select select input-select-long"><option value=""></option></select></td>
                            <td><select class="cscx-structuredDate-dateEarliestSingleQualifier input-select select input-select-short"><option value=""></option></select></td>
                            <td><input type="text" class="cscx-structuredDate-dateEarliestSingleQualifierValue input-numeric-small"/></td>
                            <td><select class="cscx-structuredDate-dateEarliestSingleQualifierUnit input-select select input-select-medium"><option value=""></option></select></td>
                            <td><input type="text" class="cscx-structuredDate-dateEarliestScalarValue input-numeric-small"/></td-->
                        </tr>
                        <tr>
                            <td class="csc-structuredDate-dateLatestRow-label cs-structuredDate-dateLabel"></td>
                            <td><input type="text" class="csc-structuredDate-dateLatestYear input-numeric-small"/></td>
                            <!--td><input type="text" class="cscx-structuredDate-dateLatestMonth input-numeric-tiny"/></td>
                            <td><input type="text" class="cscx-structuredDate-dateLatestDay input-numeric-tiny"/></td>
                            <td><select class="cscx-structuredDate-dateLatestEra input-select select input-select-short"><option value=""></option></select></td>
                            <td><select class="cscx-structuredDate-dateLatestCertainty input-select select input-select-long"><option value=""></option></select></td>
                            <td><select class="cscx-structuredDate-dateLatestQualifier input-select select input-select-short"><option value=""></option></select></td>
                            <td><input type="text" class="cscx-structuredDate-dateLatestQualifierValue input-numeric-small"/></td>
                            <td><select class="cscx-structuredDate-dateLatestQualifierUnit input-select select input-select-medium"><option value=""></option></select></td>
                            <td><input type="text" class="cscx-structuredDate-dateLatestScalarValue input-numeric-small"/></td-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>