<!-- Structured date template for person authority -->
<div class="csc-structuredDate-popup cs-structuredDate-popup" style="overflow:visible;">
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td class="csc-structuredDate-dateYear-label cs-structuredDate-dateLabel"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="csc-structuredDate-dateEarliestSingleRow-label cs-structuredDate-dateLabel"></td>
                            <td><input type="text" class="csc-structuredDate-dateEarliestSingleYear input-numeric-small"/></td>
                        </tr>
                        <tr>
                            <td class="csc-structuredDate-dateLatestRow-label cs-structuredDate-dateLabel"></td>
                            <td><input type="text" class="csc-structuredDate-dateLatestYear input-numeric-small"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>