#name-header-login {
    margin-top:30px;
    background: #fff url("../images/mmi-logo-small.jpg") no-repeat left top;
    width:114px; 
    height:70px;
}


/* header selectors */
#header-menu {}
.header-menu-logo {
    margin-top:15px; 
    float:left; 
    background: #fff url("../images/mmi-logo-small.jpg") no-repeat left top; 
    width:114px; 
    height:70px;
}
